.editorContainer {
    @apply w-full relative;
    .editor {
        @apply pt-1 -mt-1;
        :global {
            .tiptap {
                @apply outline-none;
                p.is-empty::before {
                    color: #adb5bd;
                    content: attr(data-placeholder);
                    float: left;
                    height: 0;
                    pointer-events: none;
                }
                td, li{
                    p.is-empty::before {
                        content: none;
                    }
                }
            }
        }
    }
    .readonly {
        :global {
            .ProseMirror [data-type=horizontalRule]:hover:not(.ProseMirror [data-type=horizontalRule].ProseMirror-selectednode) {
                @apply bg-transparent cursor-default;
            }
        }
    }
}
