.tree > div > div:first-child{
    display: none;
}
.tree div[role='row'] {
    border-bottom: none;
}
.tree > div > div:last-child > div > div[role='row']:first-child {
    border-top: none;
}

.tree div[role='gridcell'] {
    border-radius: 4px;
}
