@font-face {
  font-family: "clover-tab"; /* Project id 4408929 */
  src: url('iconfont.woff2?t=1705474406223') format('woff2'),
       url('iconfont.woff?t=1705474406223') format('woff'),
       url('iconfont.ttf?t=1705474406223') format('truetype');
}

.clover-tab {
  font-family: "clover-tab" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tab-home:before {
  content: "\e62a";
}

.tab-design:before {
  content: "\e757";
}

.tab-develop:before {
  content: "\e73c";
}

.tab-baidu:before {
  content: "\e650";
}

.tab-controls:before {
  content: "\e668";
}

.tab-plus:before {
  content: "\e781";
}

.tab-setting:before {
  content: "\e871";
}

.tab-google:before {
  content: "\e87a";
}

.tab-more:before {
  content: "\e607";
}

.tab-leaf:before {
  content: "\e629";
}

.tab-apps:before {
  content: "\ec0e";
}

