.global-drag-handle {
    position: absolute;

    &::after {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1.25rem;
        content: '⠿';
        font-weight: 700;
        cursor: grab;
        background:#0D0D0D10;
        color: #0D0D0D50;
        border-radius: 0.25rem;
    }
}

.tiptap {
    padding: 0 1rem;


}
